rule_classifier_data/train/soap-dtc/tags/0.1.0/soap-dtc-server/src/test/resources/com/izforge/soapdtc/servlet/wsdl-dtc-wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:testing:echo"
                  xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl-dtc="http://www.izforge.com/soap-dtc/wsdl-dtc" xmlns:echo="urn:testing:echo"
                  targetNamespace="urn:testing:echo">
    <wsdl:types>
        <xsd:schema targetNamespace="urn:testing:echo">
            <xsd:element name="onestring">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="str" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="twostrings">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="str1" type="xsd:string"/>
                        <xsd:element name="str2" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="EchoIn">
        <wsdl:part name="twostrings" element="echo:twostrings"/>
    </wsdl:message>
    <wsdl:message name="EchoOut">
        <wsdl:part name="onestring" element="echo:onestrings"/>
        <wsdl:part name="twostrings" element="echo:twostrings"/>
    </wsdl:message>
    <wsdl:portType name="EchoPortType">
        <wsdl:operation name="Echo">
            <wsdl:input message="tns:EchoIn"/>
            <wsdl:output message="tns:EchoOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EchoSoap12Binding" type="tns:EchoPortType">
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="Echo">
            <wsoap12:operation soapAction="echo" soapActionRequired="true" style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:header part="onestring" use="literal"/>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Echo">
        <wsdl:port name="EchoSoap12" binding="tns:EchoSoap12Binding">
            <wsoap12:address location="http://localhost:8080/test/endpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
